.btn {
  display: inline-flex;
  padding: 10px 20px;
  border-radius: 50px;
  color: $color-default-white;

  background-color: $color-mountain-meadow;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--transparent {
    background-color: transparent;
    color: $color-mountain-meadow;
    border: 1px solid $color-mountain-meadow;
  }

  &--white {
    background-color: #fff;
    color: $color-jungle-green;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
